<h1>Hola mundo</h1>

<h2>{{'Hola Mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}}</p>

<h3>{{'Mi nombe es '+name+' y tengo '+age+ ' años'}}</h3>

<img src={{img}} alt="immagen" width="300px" height="300px">


<hr/>

<h1>Propiedades Property binging</h1>
<!-- <button disabled="false">Enviar</button> es lo mismo de abajo  -->
<button [disabled]="btnDisabled">Enviar</button>

<input type="text" [value]="name">

<progress [value]="persona.age" max="100"></progress>

<img [src]="img" alt="imagen" width="300px" height="300px">



<h1>Uso de una propiedad de un objeto</h1>

<input type="text" [value]="persona.name"> 


<h1>Event Binding de Angular </h1>
<button (click)="toggleButton()">Enviar a metodo de la clase</button>

<h2>Edad {{persona.age}}</h2>
<button (click)="increaseAge()">Incrementar edad</button>


<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo eum excepturi distinctio soluta. Architecto sit, alias quibusdam repellat exercitationem iste libero rem, iusto ipsa earum vitae numquam aperiam, doloremque magnam.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia vitae expedita quam natus quasi recusandae, accusamus rerum commodi suscipit totam. Et itaque debitis, magni possimus consequatur provident perspiciatis eos?</p>
    

    
</div>

<h2>Nombre {{persona.name}}</h2>
<input type="text" [value]="persona.name" (keyup)="changeName($event)">


<h1>Data binding con ngModel</h1>
<input type="text" #nameInput="ngModel" required [(ngModel)]="persona.name"> <!-- hay que habilitar el paquede de formodel de agunlar para hacer uso de esta funcion  -->


<p>Valid: {{nameInput.valid}}</p>


<div >
    <h1>Contenido para mostrar *ngif</h1>
    <input type="text" [(ngModel)]="persona.name"> <!-- hay que habilitar el paquede de formodel de agunlar para hacer uso de esta funcion  -->

    <p *ngIf="persona.name === 'Jeferson'">Es igual a jeferson</p>
    <p *ngIf="persona.name !== 'Jeferson'">Es diferente a jeferson</p>

    <input type="text" [(ngModel)]="persona.age">
    <p *ngIf="persona.age === 24 ; else myBloke">La edad es correcta {{persona.age}}</p>

    <ng-template #myBloke>
        <p>La edad no es correcta</p>
    </ng-template>
</div>