<h1>Hola mundo</h1>

<h2>{{'Hola Mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}}</p>

<h3>{{'Mi nombe es '+name+' y tengo '+age+ ' años'}}</h3>

<img src={{img}} alt="immagen" width="300px" height="300px">


<hr/>

<h1>Propiedades Property binging</h1>
<!-- <button disabled="false">Enviar</button> es lo mismo de abajo  -->
<button [disabled]="btnDisabled">Enviar</button>

<input type="text" [value]="name">

<progress [value]="persona.age" max="100"></progress>

<img [src]="img" alt="imagen" width="300px" height="300px">



<h1>Uso de una propiedad de un objeto</h1>

<input type="text" [value]="persona.name"> 


<h1>Event Binding de Angular </h1>
<button (click)="toggleButton()">Enviar a metodo de la clase</button>

<h2>Edad {{persona.age}}</h2>
<button (click)="increaseAge()">Incrementar edad</button>


<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo eum excepturi distinctio soluta. Architecto sit, alias quibusdam repellat exercitationem iste libero rem, iusto ipsa earum vitae numquam aperiam, doloremque magnam.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia vitae expedita quam natus quasi recusandae, accusamus rerum commodi suscipit totam. Et itaque debitis, magni possimus consequatur provident perspiciatis eos?</p>
    

    
</div>

<h2>Nombre {{persona.name}}</h2>
<input type="text" [value]="persona.name" (keyup)="changeName($event)">


<h1>Data binding con ngModel</h1>
<input type="text" #nameInput="ngModel" required [(ngModel)]="persona.name"> <!-- hay que habilitar el paquede de formodel de agunlar para hacer uso de esta funcion  -->


<p>Valid: {{nameInput.valid}}</p>


<div >
    <h1>Contenido para mostrar *ngif</h1>
    <input type="text" [(ngModel)]="persona.name"> <!-- hay que habilitar el paquede de formodel de agunlar para hacer uso de esta funcion  -->

    <p *ngIf="persona.name === 'Jeferson'">Es igual a jeferson</p>
    <p *ngIf="persona.name !== 'Jeferson'">Es diferente a jeferson</p>

    <input type="text" [(ngModel)]="persona.age">
    <p *ngIf="persona.age === 24 ; else myBloke">La edad es correcta {{persona.age}}</p>

    <ng-template #myBloke>
        <p>La edad no es correcta</p>
    </ng-template>
</div>


<h2>USO DE *NGFOR</h2>
<input type="text" [(ngModel)]="newName">
<button (click)="addName()">Agregar dato a array</button>
<ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor=" let name of names; index as i">
        {{i}}{{name}}
        <button (click)="eliminarName(i)">Eliminar</button>
    </li>
</ul>

<div>
    <div *ngFor="let product of products">
        <img [src]="product.image" [alt]="product.name" width="250px" height="250px">
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>

    </div>
</div>


<h2>Uso de *ngSwitch</h2>
<div [ngSwitch]="persona.name">
    <p *ngSwitchCase="'Jefer'">Es Jeferson</p>
    <p *ngSwitchCase="'Lili'">Es Lili</p>
    <p *ngSwitchCase="'Julian'">Es Julian</p>
    <p *ngSwitchCase="'Isa'">Es Isa</p>
    <p *ngSwitchDefault>No es igual</p>
    
</div>


<h2>Estilos a la lista de productos*****************************</h2>
<div class="products--grid">
    <div *ngFor="let product of products">
        <img [src]="product.image" [alt]="product.name" width="250px" height="250px">
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>

    </div>
</div>




<h2>Class and style¨******************************</h2>
<h1>el campo debe ser Jefer </h1>
<input type="text" #nameInput2="ngModel" required [(ngModel)]="persona.name">

<p class="mensaje-error" [class.invalid]="nameInput2.invalid">El campo no es correcto</p>



<h2>Crear un formulario</h2>

<form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
        <label for="">Nombre:</label>
        <input type="text" name="Nombre" id="name" [(ngModel)]="register.name">
        <p>Mensaje de error</p>
        <label for="">Email:</label>
        <input type="text" name="Correo" id="email" [(ngModel)]="register.email">
        <p>Mensaje de error</p>
        <label for="">Password:</label>
        <input type="text" name="Contraseña" id="password" [(ngModel)]="register.password">
        <p>Mensaje de error</p>

    </div>
    <!-- <button [disabled]="myForm.invalid" type="submit">Registrar</button> -->
    <!-- <button [disabled]="myForm.invalid" type="submit">Registrar</button> -->
    <button type="submit" [attr.disabled]="!myForm.valid ? true : null">Submit</button>
</form>


<h1>{{1+2}}</h1>
<!-- <h1>{{Math.pow(2,2)}}</h1> -->
<h1>{{[1,2].reverse()}}</h1>